<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9fd31f60-871d-47f5-9248-dc164383def7/resourceGroups/proyecto/providers/Microsoft.Web/sites/apiproyecto</ResourceId>
    <ResourceGroup>proyecto</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://apiproyecto.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://apiproyecto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$apiproyecto</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>