<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5df0ae0c-bae8-4644-b68b-ea4b19593b18/resourceGroups/appproyect/providers/Microsoft.Web/sites/JWTAuth-WebAzure</ResourceId>
    <ResourceGroup>appproyect</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://jwtauth-webazure.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://jwtauth-webazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$JWTAuth-WebAzure</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>