<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e065156f-3f4f-4ee5-8192-e2bbe27ace8c/resourceGroups/jwtappservice_group/providers/Microsoft.Web/sites/jwtappservice</ResourceId>
    <ResourceGroup>jwtappservice_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://jwtappservice.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://jwtappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$jwtappservice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>